<!-- Navbar start -->
<div class="navbar" ng-controller="NavCtrl">
  <div class="navbar-inner">
    <div class="container">
	    <ul class="nav">
			
          <li ng-hide="currentPath == '/canvas'"><a href="#/canvas">Canvas</a></li>
          <li class="active" ng-show="currentPath == '/canvas'"><a href="#/canvas">Canvas</a></li>
          <li><a ng-click="showExport()" ng-show="currentPath == '/canvas'">Export PDF...</a></li>
          <li><a ng-click="clearData()" ng-show="currentPath == '/canvas'">Clear data...</a></li>
		  
        </ul>
    </div>
  </div>
</div>


<!-- Navbar end -->
